.ant-tabs-tab .ant-tabs-tab-btn .logo {
  opacity: 0.5 !important;
  transition: 0.5s;
}
.ant-tabs-tab .ant-tabs-tab-btn:hover .logo {
  opacity: 1 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .logo {
  opacity: 1 !important;
  transition: 0.5s;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .logo .logoCinema {
  transition: 0.5s;
  transform: scale(1.2);
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .logo::after {
  content: "";
  margin-top: 10px;
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #fb4226, #ce3017);
}
.ant-tabs-tab .ant-tabs-tab-btn .logo::after {
  content: "";
  margin-top: 10px;
  width: 0%;
  height: 3px;
  display: block;
  background: linear-gradient(to right, #fb4226, #ce3017);
  box-shadow: 0 0 30px 0 #fb4226;
  transition: 0.5s;
}
.ant-tabs-tab .ant-tabs-tab-btn:hover .logo::after {
  width: 100%;
}
.ant-tabs-tab .ant-tabs-tab-btn .cumRap {
  transition: 0.3s;
  opacity: 0.5 !important;
  text-align: left !important;
}
.ant-tabs-nav-list {
  padding-top: 10px;
}
/* .ant-tabs-tab .ant-tabs-tab-btn .cumRap::after {
  content: "";
  margin-top: 10px;
  width: 0%;
  height: 1px;
  display: block;
  background: linear-gradient(to right, #fb4226, #ce3017);
  box-shadow: 0 0 30px 0 #fb4226;
  transition: 0.5s;
}
.ant-tabs-tab .ant-tabs-tab-btn:hover .cumRap::after {
  width: 100%;
} */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .cumRap .tenCumRap {
  color: red;
  font-size: 14px;
}
.ant-tabs-tab .ant-tabs-tab-btn .cumRap .diaChi {
  font-size: 12px;
  color: #949494;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ant-tabs-tab .ant-tabs-tab-btn .cumRap .tenCumRap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .cumRap::after {
  content: "";
  margin-top: 10px;
  width: 100%;
  height: 1px;
  display: block;
  background: linear-gradient(to right, #fb4226, #ce3017);
  box-shadow: 0 0 30px 0 #fb4226;
  transition: 0.5s;
} */
.ant-tabs-tab .ant-tabs-tab-btn:hover .cumRap {
  opacity: 1 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn .cumRap {
  opacity: 1 !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn:hover .cumRap {
  color: black !important;
}
.ant-tabs-nav-wrap {
  /* justify-content: center !important; */
}
.tagTimes {
  color: #ffffff;
  padding: 5px;
  width: 90px;
  position: relative;
  mask-position: center center;
  text-align: center;
  mask-image: url("../assets/movie-seat.png");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  cursor: pointer;
  transition: all ease 0.3s;
  margin: 5px;
}
.tagTimes:hover {
  background: #31d7a9;
  color: #fb4226;
  transition: 0.3s;
  font-size: 15px !important;
  font-weight: bold;
  transform: scale(1.2);
}

.ant-tabs-tabpane .ant-tabs-tabpane-active .listShowTimes {
  height: 450px !important;
  overflow-y: scroll !important;
}
.ant-tabs-tabpane .ant-tabs-tabpane-active .listShowTimes::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}
.ant-tabs-tabpane
  .ant-tabs-tabpane-active
  .listShowTimes::-webkit-scrollbar-thumb {
  background-color: #ff4444;
}
.ant-tabs-tabpane
  .ant-tabs-tabpane-active
  .listShowTimes::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #ffffff;
}
.ant-tabs.listLogo > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  height: 100px;
}

.cinemaSystem_tenPhim {
  display: inline;
  font-size: 20px;
  color: black;
  font-weight: bold;
  /* margin: 0 30px 15px 15px !important; */
}


.ant-tabs-dropdown-menu::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}
.ant-tabs-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #ff4444;
}
.ant-tabs-dropdown-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #ffffff;
}
