.imgTabList {
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.card_item {
  position: relative;
  cursor: pointer;
  width: 95% !important;
  transition: all 0.3s !important;
  border: none;
  outline: none;
}
.card_item:hover {
  background: linear-gradient(to bottom, #000, transparent 100%);
  border: none;
  outline: none;
  transform: scale(0.95);
}
.filmName {
  font-weight: bold;
}
.card_item:hover .filmName {
  color: #ce3017;
  font-weight: bold;
}

.btnHover {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.btn_DatVe {
  text-decoration: none !important;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  border-radius: 4px;
  color: #fff !important;
  font-size: 18px !important;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  transition: all 0.3s;
}
.btn_DatVe:hover {
  background: #fb4226;
}
.card_item:hover .btnHover {
  opacity: 1;
}
.card_item:hover .rate {
  opacity: 0 !important;
}
.card_item:hover .imdb {
  color: #fff !important;
}

.btn_play_video {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: 0 0;
  border: none;
  transition: all 0.3s;
  opacity: 1;
}
.btn_play_video:hover {
  opacity: 1;
  width: 60px;
  height: 60px;
}
.pulsing_3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: pl3 1s infinite;
}
@keyframes pl3 {
  100% {
    box-shadow: 0 0 0 30px #0000;
  }
}

@media screen and (min-width: 280px) {
  .card_item {
    align-items: center;
    width: 220px !important;
    margin:0 6.5% !important;
  }
}

@media screen and (min-width: 360px) {
  .card_item {
    align-items: center;
    width: 220px !important;
    margin:0 18% !important;
  }
}
@media screen and (min-width: 400px) {
  .card_item {
    align-items: center;
    width: 220px !important;
    margin:0 21% !important;
  }
}
@media screen and (min-width: 500px) {
  .card_item {
    align-items: center;
    width: 220px !important;
    margin:0 26% !important;
  }
}
@media screen and (min-width: 540px) {
  .card_item {
    align-items: center;
    width: 220px !important;
    margin:0 7% !important;
  }
}

@media screen and (min-width: 768px) {
  .card_item {
    align-items: center;
    width: 220px !important;
    margin:10px 2% !important;
  }
}
@media screen and (min-width: 992px) {
  .card_item {
    align-items: center;
    width: 220px !important;
    margin: 10px 3% !important;
  }
}
@media screen and (min-width: 1200px) {
  .card_item {
    align-items: center;
    width: 230px !important;
    margin: 10px 8% !important;
  }
}
